{% extends 'base.html' %}
{% block body %}
<div class="container" style="margin-top:50px;">
<table class="table table-striped mt-100" id="noticetable">
  <thead>
    <tr>
      <th scope="col">Notice</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for notice in notices %}
    <tr>
      <td><a href="..\..\media\{{notice.url}}">{{notice.title}}<a></td>
      <td><a href="/delete/{{notice.id}}"><i class="fa fa-trash" style="color:red"></i></a></td>
    </tr>
{% endfor %}
  </tbody>
</table>

<button class="open-button" id="openbtn" onclick="openForm()">Upload New Notice</button>

<div class="form-notice" id="myForm">
  <form action="upload/" class="form-container" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="psw"><b>Title of Notice</b></label>
    <input type="text" placeholder="Enter Title" name="title" required>
    <label for="psw"><b>Upload File</b></label>
    <input type="file" name="file" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <button type="submit" class="btn">Upload</button>
  </form>
</div>

</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
  document.getElementById("noticetable").style.display="none";
  document.getElementById("openbtn").style.display="none";
}
</script>

{% endblock %}
<script></script>