:root {
  --blue: #031425;
  --white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: black;
  margin-left: 0px;
  font-size: 15px;
}

/***************** menu***************/
.navicon {
  position: absolute;
  right: 17px;
  z-index: 11;
  top: 27px;
  display: block;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.5s ease;
}

.header-menu {
  background-color: #f6f6f6;
  border-color: transparent;
  border-radius: 0px
}

.header-menu .dropDownMenu,
.header-menu .dropDownMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu .dropDownMenu>li>a {
  font-family: 'Work Sans', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.5s ease;
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  margin-right: 3px;
}

.header-menu .dropDownMenu>li:hover>a,
.header-menu .dropDownMenu>li>a.active {
  background: var(--blue);
  color: #fff;
  text-decoration: none;
}

.header-menu .dropDownMenu>li:hover span.navicon {
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.header-menu .dropDownMenu li {
  position: relative;
}

.header-menu .button {
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.header-menu .dropDownMenu>li {
  display: inline-block;
  vertical-align: top;
}

.header-menu .dropDownMenu>li:first-child {
  margin-left: 0
}

/* Level 2 */
.header-menu .dropDownMenu>li>ul {
  text-align: left;
  display: none;
  background: #f6f6f6;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9999999;
  min-width: 230px
}

.header-menu .dropDownMenu>li:hover>ul {
  display: block;
}

.header-menu .dropDownMenu>li>ul>li>a {
  display: block;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  color: #000;
  font-weight: 400;
}

.header-menu .dropDownMenu>li>ul>li>a:hover {
  background: var(--blue);
  color: #fff;
  text-decoration: none;
}

.header-menu .dropdow-wrap {
  display: none
}

.header-menu .dropDownMenu>li:hover>.dropdow-wrap {
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
}

/* *****************************Slider************************ */
.sliderScetion .item {
  width: 100%;
  min-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderScetion .carousel-caption {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
}

.slider2 img {
  opacity: 0.7;
  width: 1350px;
  height: 600px;
}

.slidetxt1 ul {
  text-align: center;
}

.slidetxt2 ul {
  text-align: right;
  margin-right: 140px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/*************************About Us section**************************/
section.aboutus h1 {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: 600;
  margin-right: 35px;
}

section.aboutus {
  background-color: #F6F6F6;
}

section.aboutus h4 {
  line-height: 30px;
  text-align: justify;
  margin: 20px 0px;
  padding: 20px;
}

/* **************************HOD DESKS********************************** */
section.hod h1 {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: 600;
  margin-right: 35px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  height: 400px;
  float: right;
  padding: 40px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.testimonials .testiCont {
  background: whitesmoke;
  position: relative;
  padding: 20px;
  margin: 100px 0 50px 0;
  transition: all 0.5s ease;
}

.testimonials .testiCont .main-content {
  position: relative;
  padding: 40px 0;
}

.testimonials .testiCont .main-content:before {
  content: '\f10d';
  font-size: 35px;
  color: #031425;
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
}

.testimonials .testiCont .main-content:after {
  content: '\f10e';
  font-size: 35px;
  color: #031425;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: FontAwesome;
}

.testimonials .testiCont .testimonialImg {
  transition: all 0.5s ease;
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 100%;
  top: -50px;
  left: 50%;
  margin-left: -50px
}

.testimonials .testiCont .main-content h2 {
  color: #000;
  margin-bottom: 25px;
}

.testimonials .testiCont .main-content p {
  font-size: 15px;
  line-height: 23px;
  color: #666
}

.testimonials .testiCont:hover .testimonialImg {
  transform: rotate(360deg);
  border-color: #031425
}


/* **************************Event********************************* */
section.event h1 {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: 600;
  margin-right: 35px;
  margin-bottom: 5rem;
}

section.event {
  background-color: #F6F6F6;
}

.news {
  background: #fff;
}

.news .news-slider {
  margin-top: 30px;
}

.news .single-news {
  position: relative;
  margin: 30px 0 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  margin: 5px;
}

.news .news-head {
  overflow: hidden;
}

.news .single-news:hover .news-head:before {
  height: 380px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: #000;
  opacity: 0.5;
  visibility: visible;
}

.news .single-news img {
  height: 380px;
  width: 100%;
}

.news .news-head .date {
  position: absolute;
  left: 12px;
  top: 12px;
  text-align: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  z-index: 33;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 36;
}

.news .single-news:hover .date {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  background-color: #031425;
  border-radius: 50%;
  color: white;
  padding-top: 20px;
}

.news .news-head .date:hover {
  background-color: white;
  color: #031425;
}

.news .news-main {
  margin-top: 50px;
  background: #f6f6f6;
  position: relative;
}

.news .news-content {
  padding: 20px;
}

.news .news-content .news-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.news .news-content .news-title a {
  color: #252525;
  text-decoration: none;
}

.news .news-content .news-title a:hover {
  color: #031425;
}

.news .news-content .btn {
  color: #fff;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #031425;
  border-radius: 0px;
  font-weight: bold;
}

.news .news-content .btn:before {
  background: #252525;
}

.news .news-content .btn i {
  margin-left: 5px;
}


/* ***************************verify page******************************** */
.form-popup {
  position: fixed;
  bottom: 25%;
  right: 40%;
  border: 3px solid #f1f1f1;
  z-index: 999;
}

.form-notice {
  position: absolute;
  top:40vh;
  right: 40%;
  border: 3px solid #f1f1f1;
  z-index: 999;
  display: none;
  margin:20px;
}

.form-login {
  position: fixed;
  bottom: 10%;
  right: 40%;
  border: 3px solid #f1f1f1;
  z-index: 999;
}

.form-update {
  bottom: 10%;
  right: 40%;
  border: 3px solid #f1f1f1;
  z-index: 999;
  margin: 50px;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=password],
.form-container input[type=text],
.form-container textarea,
.form-container input[type=url],
.form-container select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=file] {
  background-color: #f1f1f1;
  margin-bottom: 20px;
  padding: 15px 5px;
  width: 100% !important;
}

.form-container input[type=password],
.form-container input[type=text],
.form-container input[type=url],
.form-container textarea,
.form-container select:focus {
  background-color: #f1f1f1;
  outline: none;
  z-index: 10000;
}

.form-container .btn {
  background-color: var(--blue);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 8px;
  opacity: 0.8;
}


.open-button {
  background-color: var(--blue);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* ***********************************************Login****************************************** */
.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: linear-gradient(to left bottom, white, lightsteelblue);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: #fff;

}

.login_btn {
  width: 100%;
  background: #031425 !important;
  color: white !important;
  opacity: 100%;
  transition: 0.7s;
}

.login_btn:hover {
  opacity: 70%;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: white !important;
  color: cornflowerblue !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

#messages {
  background-color: grey;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.accordion {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  text-transform: lowercase;
}

.active,
.accordion:hover {
  background-color: black;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  padding: 0px 10px;
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.ap {
  margin: 10px;
  text-transform: lowercase;
  text-align: justify;
}

.aap {
  text-decoration: none;
  margin-bottom: 10px !important;
  margin-top: 0px;
}

.aap:hover {
  cursor: pointer;
  text-decoration: none;
}

/* ****************************TNP********************************** */


